<div class="register-container">
    <h2>Sign up</h2>
  
    <form (ngSubmit)="register()" #registerForm="ngForm">
      <div class="input-group">
        <input
          type="email"
          name="email"
          placeholder="Your Email"
          [(ngModel)]="email"
          required
          email
          #emailInput="ngModel"
          autocomplete="email"
        />
      </div>
  
      <div class="input-group">
        <input
          type="password"
          placeholder="Password"
          [(ngModel)]="password"
          name="password"
          required
          autocomplete="new-password"
        />
      </div>
  
      <div class="input-group">
        <input
          type="password"
          placeholder="Repeat your password"
          [(ngModel)]="repeatPassword"
          name="repeatPassword"
          required
          autocomplete="new-password"
        />
      </div>
  
      <button type="submit" [disabled]="registerForm.invalid">Register</button>
  
      <p class="error" *ngIf="error">{{ error }}</p>
    </form>

    <p class="login-link">
        Already have an account?
        <a routerLink="/login">Log in</a>
    </p>
  </div>
  